* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 25px;
}

nav {
    width: 100%;
    height: 100px;
    background-color:#35424A;
    border-bottom: 3px solid #A9508B;
    display: flex;
    justify-content:space-between;
    padding:30px;
}

#header {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}

#header span {
    color:#A9508B;
}

#buttons {
    width:20%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding:10px 0px;
}

.button {
    color: white;
    text-decoration: none;
}

.button3 {
    color:#A9508B;
}


#midBar {
    width:100%;
    height:100px;
    background-color:#35424A;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:30px;
}

.secLeft {
    color:white;
}

#subscribeİnp {
    width:15rem;
    height:2.5rem;
}

#subscribeBut {
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: #E8491D;
    border: 10px solid #E8491D;
}


main {
    display:flex;
    justify-content:space-between;
    padding: 20px 20px 0px 30px;
}

.mnLeft {
    flex:0.6;
    display: flex;
    flex-direction: column;
} 

.item {
    border:1px solid #CCCCCC;
    background-color:#E6E6E6;
    padding: 40px 20px;
    margin-bottom: 10px;;
}

.mnRight {
    flex:0.3;
    justify-content: flex-end;
}

#form {
    border:1px solid black;
    padding: 25px 40px 10px 10px;
    background-color:#35424A;
    color: white;
}

#form .formText {
    width:100%;
    height: 30px;
}

textarea {
    width: 100%;
}

#submitBut {
    border-radius: 3px;
    background-color:#E8491D;
    padding:10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    border: 1px solid black;
    width: 100%;
    height:100%;
    text-align: center;
    padding: 32.5px 0px;
    background-color: #35424A;
    color: white;
}

footer img {
    width:200px;
}

@media (max-width: 745px) {
    main,
    nav,
    #midBar {
        flex-direction: column;
    }

    #form {
        margin-bottom: 20px;
    }

    nav {
        height:150px;
    }

    .button {
        margin-right: 20px;
    }

    nav #buttons {
        margin: 20px 0px 10px 0px;
        justify-content:flex-start;
    }

}

@media (max-width:400px) {
    #midBar {
        height: 200px;
    }
    .secRight {
        flex-direction: column;
    }

    #subscribeİnp {
        margin-bottom: 12px;
    }
}